
.pane1 {
	-fx-background-image: url("sample1.jpg");
	-fx-background-size: cover, auto;
}

.pane2 {
	-fx-background-image: url("sample2.jpg");
	-fx-background-size: cover, auto;
}

.pane3 {
	-fx-background-image: url("sample3.jpg");
	-fx-background-size: cover, auto;
}

.pane4 {
	-fx-background-image: url("sample4.jpg");
	-fx-background-size: cover, auto;
}